# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
.venv/
ml_env/

# ML Models
*.pkl

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Streamlit
.streamlit/

# Logs
*.log

# DeepFace Weights
.deepface/

# MLFlow
mlruns/

# Temporary Files
temp_resume.pdf.env
.env
