# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
.venv/
ml_env/
.venv312/

# ML Models
*.pkl

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Streamlit
.streamlit/

# Logs
*.log
*.pdf

# DeepFace Weights
.deepface/

# MLFlow
mlruns/

# Temporary Files
temp_resume.pdf.env
.env


.git_corrupted_backup/.git_corrupted_backup/
