aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
alembic==1.18.4
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
contourpy
cryptography
cycler
databricks-sdk
distro
docker
fastapi
filelock
Flask
flask-cors
fonttools
frozenlist
fsspec
gitdb
GitPython
google-auth
graphene
graphql-core
graphql-relay
groq
gunicorn
h11
hf-xet
httpcore
httptools
httpx
huggingface-hub
idna
Jinja2
joblib
jsonschema
kiwisolver
Mako
MarkupSafe
matplotlib
mlflow
multidict
networkx
numpy
openai
openai-whisper
opencv-python
opencv-contrib-python
pandas
pdfplumber
Pillow
plotly
prometheus_client
protobuf
psycopg2-binary
pyarrow
pycparser
pydantic
pydeck
pydub
Pygments
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
regex
reportlab
requests
rich
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
smmap
sniffio
sounddevice
SpeechRecognition
SQLAlchemy
sqlparse
starlette
streamlit
sympy
tenacity
tensorflow
tf-keras
threadpoolctl
tokenizers
toml
torch
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
uvicorn
websockets
Werkzeug
xgboost
yarl
deepface
mediapipe
fpdf
