fastapi
uvicorn[standard]
starlette

python-dotenv
python-multipart

pydantic

numpy
pandas
scipy
scikit-learn
joblib

xgboost==3.3.0

opencv-python
opencv-contrib-python
mediapipe==0.10.14



SpeechRecognition
pydub

pdfplumber
reportlab
fpdf

Pillow

requests
httpx

google-generativeai
groq

tqdm

protobuf

aiofiles